.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.results {
    width: 80%;
    height: 100%;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.backButton {
    height: 50px;
    width: 90px;
    font-family: "Rubik", sans-serif;
    background-color: #59b256;
    font-size: large;
    color: #fff;
    text-shadow: 2px 2px #59b256;
    border-radius: 10px;
}

.heading {
    font-family: "Rubik", sans-serif;
    color: #59b256;
    margin-bottom: 1rem;
}

.input {
    width: 92%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    margin-bottom: 12px;
}

.searchButton {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #59b256;
    color: #fff;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .results {
        margin-left: 28px;
        flex-direction: column;
    }
}